* {
    text-align: center;
}
body {
    z-index: -1;
    background-color: rgb(213, 211, 211);
}
h1 {
    font-size: 3rem;
    color: rgb(43, 34, 34);
}
h2 {
    color: black;
    font-size: 1.5rem;
} 
.btn {
    height: 9rem;
    width: 9rem;
}
.red {
    background-color: rgb(215, 74, 74);
}
.yellow {
    background-color: rgb(187, 187, 83);
}
.green {
    background-color: rgb(93, 192, 93);
}
.purple {
    background-color: rgb(163, 66, 163);
}
.line-one,.line-two {
    display: flex;
    justify-content: center;
}
.btn {
    margin: 0.7rem;
    border-radius: 2rem;
    border: 0.4rem solid rgb(26, 26, 26);
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}